{% extends 'base.html' %} {% block title %} IM - plan {% endblock %} {% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="scheduleContainer">
     <div class="time start-head"></div>
    <div class="time start-head1"></div>
    <div class="time start-0800"><span>08:00</span></div>
    <div class="time start-0805"></div>
    <div class="time start-0810"></div>
    <div class="time start-0815"></div>
    <div class="time start-0820"></div>
    <div class="time start-0825"></div>
    <div class="time start-0830"></div>
    <div class="time start-0835"></div>
    <div class="time start-0840"></div>
    <div class="time start-0845"></div>
    <div class="time start-0850"></div>
    <div class="time start-0855"></div>
    <div class="time start-0900"></div>
    <div class="time start-0905"></div>
    <div class="time start-0910"></div>
    <div class="time start-0915"></div>
    <div class="time start-0920"></div>
    <div class="time start-0925"></div>
    <div class="time start-0930"><span>09:30</span></div>
    <div class="time start-0935"></div>
    <div class="time start-0940"></div>
    <div class="time start-0945"><span>09:45</span></div>
    <div class="time start-0950"></div>
    <div class="time start-0955"></div>
    <div class="time start-1000"></div>
    <div class="time start-1005"></div>
    <div class="time start-1010"></div>
    <div class="time start-1015"></div>
    <div class="time start-1020"></div>
    <div class="time start-1025"></div>
    <div class="time start-1030"></div>
    <div class="time start-1035"></div>
    <div class="time start-1040"></div>
    <div class="time start-1045"></div>
    <div class="time start-1050"></div>
    <div class="time start-1055"></div>
    <div class="time start-1100"></div>
    <div class="time start-1105"></div>
    <div class="time start-1110"></div>
    <div class="time start-1115"><span>11:15</span></div>
    <div class="time start-1120"></div>
    <div class="time start-1125"></div>
    <div class="time start-1130"></div>
    <div class="time start-1135"></div>
    <div class="time start-1140"></div>
    <div class="time start-1145"><span>11:45</span></div>
    <div class="time start-1150"></div>
    <div class="time start-1155"></div>
    <div class="time start-1200"></div>
    <div class="time start-1205"></div>
    <div class="time start-1210"></div>
    <div class="time start-1215"></div>
    <div class="time start-1220"></div>
    <div class="time start-1225"></div>
    <div class="time start-1230"></div>
    <div class="time start-1235"></div>
    <div class="time start-1240"></div>
    <div class="time start-1245"></div>
    <div class="time start-1250"></div>
    <div class="time start-1255"></div>
    <div class="time start-1300"></div>
    <div class="time start-1305"></div>
    <div class="time start-1310"></div>
    <div class="time start-1315"><span>13:15</span></div>
    <div class="time start-1320"></div>
    <div class="time start-1325"></div>
    <div class="time start-1330"><span>13:30</span></div>
    <div class="time start-1335"></div>
    <div class="time start-1340"></div>
    <div class="time start-1345"></div>
    <div class="time start-1350"></div>
    <div class="time start-1355"></div>
    <div class="time start-1400"></div>
    <div class="time start-1405"></div>
    <div class="time start-1410"></div>
    <div class="time start-1415"></div>
    <div class="time start-1420"></div>
    <div class="time start-1425"></div>
    <div class="time start-1430"></div>
    <div class="time start-1435"></div>
    <div class="time start-1440"></div>
    <div class="time start-1445"></div>
    <div class="time start-1450"></div>
    <div class="time start-1455"></div>
    <div class="time start-1500"><span>15:00</span></div>
    <div class="time start-1505"></div>
    <div class="time start-1510"><span>15:10</span></div>
    <div class="time start-1515"></div>
    <div class="time start-1520"></div>
    <div class="time start-1525"></div>
    <div class="time start-1530"></div>
    <div class="time start-1535"></div>
    <div class="time start-1540"></div>
    <div class="time start-1545"></div>
    <div class="time start-1550"></div>
    <div class="time start-1555"></div>
    <div class="time start-1600"></div>
    <div class="time start-1605"></div>
    <div class="time start-1610"></div>
    <div class="time start-1615"></div>
    <div class="time start-1620"></div>
    <div class="time start-1625"></div>
    <div class="time start-1630"></div>
    <div class="time start-1635"></div>
    <div class="time start-1640"><span>16:40</span></div>
    <div class="time start-1645"></div>
    <div class="time start-1650"><span>16:50</span></div>
    <div class="time start-1655"></div>
    <div class="time start-1700"></div>
    <div class="time start-1705"></div>
    <div class="time start-1710"></div>
    <div class="time start-1715"></div>
    <div class="time start-1720"></div>
    <div class="time start-1725"></div>
    <div class="time start-1730"></div>
    <div class="time start-1735"></div>
    <div class="time start-1740"></div>
    <div class="time start-1745"></div>
    <div class="time start-1750"></div>
    <div class="time start-1755"></div>
    <div class="time start-1800"></div>
    <div class="time start-1805"></div>
    <div class="time start-1810"></div>
    <div class="time start-1815"></div>
    <div class="time start-1820"><span>18:20</span></div>
    <div class="time start-1825"></div>
    <div class="time start-1830"><span>18:30</span></div>
    <div class="time start-1835"></div>
    <div class="time start-1840"></div>
    <div class="time start-1845"></div>
    <div class="time start-1850"></div>
    <div class="time start-1855"></div>
    <div class="time start-1900"></div>
    <div class="time start-1905"></div>
    <div class="time start-1910"></div>
    <div class="time start-1915"></div>
    <div class="time start-1920"></div>
    <div class="time start-1925"></div>
    <div class="time start-1930"></div>
    <div class="time start-1935"></div>
    <div class="time start-1940"></div>
    <div class="time start-1945"></div>
    <div class="time start-1950"></div>
    <div class="time start-1955"></div>
    <div class="time start-2000"><span>20:00</span></div>

    <div class="event stage-head pn">Poniedziałek</div>
    <div class="event stage-head1 pn_p">P</div>
    <div class="event stage-head1 pn_np">NP</div>
    <div class="event stage-head wt">Wtorek</div>
    <div class="event stage-head1 wt_p">P</div>
    <div class="event stage-head1 wt_np">NP</div>
    <div class="event stage-head sr">Środa</div>
    <div class="event stage-head1 sr_p">P</div>
    <div class="event stage-head1 sr_np">NP</div>
    <div class="event stage-head cz">Czwartek</div>
    <div class="event stage-head1 cz_p">P</div>
    <div class="event stage-head1 cz_np">NP</div>
    <div class="event stage-head pt">Piątek</div>
    <div class="event stage-head1 pt_p">P</div>
    <div class="event stage-head1 pt_np">NP</div>

    <div class="event stage-przerwa start-0930 end-0940 week"></div>
    <div class="event stage-przerwa start-1115 end-1140 week"></div>
    <div class="event stage-przerwa start-1315 end-1325 week"></div>
    <div class="event stage-przerwa start-1500 end-1505 week"></div>
    <div class="event stage-przerwa start-1640 end-1645 week"></div>
    <div class="event stage-przerwa start-1820 end-1825 week"></div>

    {% for unit in units %}
    {% if unit.unit_type == 'Dyżur' %}
          <div class="event stage-dyzur start-{{unit.start}} end-{{unit.end}} {{unit.day}}">
        <span class="typ">{{unit.unit_type}}</span>
        <span class="sala">{{unit.unit_room}}</span>
        <span class="komentarz">{{unit.comment}}</span>
        <span class="godziny">{{unit.hours}}</span>
    </div>
    {% else %}
      <div class="event stage-zajecia start-{{unit.start}} end-{{unit.end}} {{unit.day}}">
        <span class="typ">{{unit.unit_type}}</span>
        <span class="sala">{{unit.unit_room}}</span>
        <span class="nazwa">{{unit.unit_name}}</span>
        <span class="kierunek">{{unit.unit_course}}</span>
        <span class="komentarz">{{unit.comment}}</span>
        <span class="godziny">{{unit.hours}}</span>
    </div>
        {% endif %}
     {% endfor %}



</div>
{% endblock %}